In [384]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [385]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
986,tt0790724,60000000,218340595,Jack Reacher,Tom Cruise|Rosamund Pike|Richard Jenkins|David...,Christopher McQuarrie,The Law Has Limits. He Does Not.,"In an innocent heartland city, five are shot d...",130,Crime|Drama|Thriller,Paramount Pictures|Mutual Film Company|Skydanc...,12/20/2012,6.2,2012
1770,tt0815244,16500000,13620075,Sydney White,Amanda Bynes|Sara Paxton|Matt Long|Jeremy Howa...,Joe Nussbaum,Freshman year is no fairytale,A modern retelling of Snow White set against s...,108,Comedy,Morgan Creek Productions|Clifford Werber Produ...,9/21/2007,5.9,2007
1208,tt1428538,50000000,224803475,Hansel & Gretel: Witch Hunters,Jeremy Renner|Gemma Arterton|Famke Janssen|Pih...,Tommy Wirkola,Classic tale. New twist.,"After getting a taste for blood as children, H...",88,Fantasy|Horror|Action,Paramount Pictures|Studio Babelsberg|MTV Films...,1/17/2013,5.7,2013
421,tt0947810,100000000,94882889,Green Zone,Matt Damon|Greg Kinnear|Brendan Gleeson|Amy Ry...,Paul Greengrass,Chief Warrant Officer Roy Miller is done follo...,During the U.S.-led occupation of Baghdad in 2...,115,Action|Adventure|Drama|Thriller,Universal Pictures|StudioCanal|Dentsu|Relativi...,3/11/2010,6.3,2010
1226,tt1211956,50000000,122915111,Escape Plan,Sylvester Stallone|Arnold Schwarzenegger|Jim C...,Mikael HÃ¥fstrÃ¶m,No one breaks out alone.,Ray Breslin is the world's foremost authority ...,115,Action|Thriller,Summit Entertainment|Atmosphere Entertainment ...,10/9/2013,6.7,2013

In [386]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [490]:
answers = {} 


month_name = {
    1: 'Январь',
    2: 'Февраль',
    3: 'Март',
    4: 'Апрель',
    5: 'Май',
    6: 'Июнь',
    7: 'Июль',
    8: 'Август',
    9: 'Сентябрь',
    10: 'Октябрь',
    11: 'Ноябрь',
    12: 'Декабрь'
}


def count_words(text, delimiters):
    words_count = 0
    previous_delimiter = True
    for symbol in text:
        current_delimiter = symbol in delimiters
        if previous_delimiter and not current_delimiter:
            words_count += 1
        previous_delimiter = current_delimiter
    return words_count

data['profit'] = data['revenue'] - data['budget']
data['title'] = data['original_title'] + ' (' + data['imdb_id'] + ')'
data['release_month'] = data['release_date'].apply(lambda month: int(month[:month.find('/')]))
data['title_length'] = data['original_title'].str.len()
data['overview_count'] = data['overview'].apply(count_words, delimiters=' ,.!?')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [493]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
#"+"

In [486]:
budget_max=data[data.budget==data.budget.max()]
display(budget_max)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title,release_month,title_length,overview_count
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,Pirates of the Caribbean: On Stranger Tides (t...,5,43,75

ВАРИАНТ 2

# 2. Какой из фильмов самый длительный (в минутах)?

In [453]:
runtime_max=data[data.runtime==data.runtime.max()]
display(runtime_max)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title,release_month,title_length,overview_count
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,Gods and Generals (tt0279111),2,17,48

In [495]:
answers['2'] ='Gods and Generals' #"+"

# 3. Какой из фильмов самый короткий (в минутах)?

In [390]:
runtime_min=data[data.runtime==data.runtime.min()]
display(runtime_min)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title,release_month,title_length,overview_count
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,Winnie the Pooh (tt1449283),4,15,52

In [496]:
answers['3'] ='Winnie the Pooh'#"+"

# 4. Какова средняя длительность фильмов?

In [391]:
round(data.runtime.mean())

110

In [497]:
answers['4'] ='110'#"+"

# 5. Каково медианное значение длительности фильмов?

In [392]:
round(data.runtime.median())

107

In [498]:
answers['5'] ='107'#"+"

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [393]:
profit_max=data[data.profit==data.profit.max()]
display(profit_max)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title,release_month,title_length,overview_count
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,Avatar (tt0499549),12,6,28

In [499]:
answers['6'] ='Avatar'#"+"

# 7. Какой фильм самый убыточный?

In [394]:
profit_min=data[data.profit==data.profit.min()]
display(profit_min)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title,release_month,title_length,overview_count
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,The Lone Ranger (tt1210819),7,15,68

In [500]:
answers['7'] ='The Lone Ranger'#"+"

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [395]:
profit_counter=data[(data.profit>0)]
len(profit_counter)

1478

In [501]:
answers['8'] ='1478'#"+"

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [396]:
revenue_2008=data[(data.release_year==2008)].sort_values(['revenue'], ascending=False)
display(revenue_2008)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title,release_month,title_length,overview_count
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,The Dark Knight (tt0468569),7,15,67
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008,601636033,Indiana Jones and the Kingdom of the Crystal S...,5,50,74
606,tt0441773,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,6/4/2008,6.8,2008,501744560,Kung Fu Panda (tt0441773),6,13,60
621,tt0448157,150000000,624029371,Hancock,Will Smith|Charlize Theron|Jason Bateman|Jae H...,Peter Berg,Bad Behavior. Bad Attitude. Real Hero.,Hancock is a down-and-out superhero who's forc...,92,Fantasy|Action,Columbia Pictures|Weed Road Pictures|Forward P...,7/1/2008,6.0,2008,474029371,Hancock (tt0448157),7,7,63
607,tt0795421,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,6.2,2008,557841637,Mamma Mia! (tt0795421),6,10,63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708,tt0486674,25000000,6673422,What Just Happened,Bruce Willis|Robert De Niro|Sean Penn|Robin Wr...,Barry Levinson,Admit nothing.,During the course of an ordinary week in Holly...,104,Comedy|Drama,2929 Productions|Linson Entertainment|Art Lins...,10/17/2008,5.1,2008,-18326578,What Just Happened (tt0486674),10,18,75
673,tt0800241,15000000,5926410,Transsiberian,Woody Harrelson|Emily Mortimer|Kate Mara|Eduar...,Brad Anderson,You can't escape your lies.,A Trans-Siberian train journey from China to M...,111,Thriller|Crime|Mystery,Lietuvos Kinostudija|Scout Productions|Telecin...,1/18/2008,6.3,2008,-9073590,Transsiberian (tt0800241),1,13,27
702,tt0844286,20000000,5530764,The Brothers Bloom,Rachel Weisz|Adrien Brody|Mark Ruffalo|Rinko K...,Rian Johnson,They'd never let the truth come between them.,The Brothers Bloom are the best con men in the...,114,Adventure|Comedy|Drama|Romance,The Weinstein Company|Summit Entertainment|End...,9/9/2008,6.8,2008,-14469236,The Brothers Bloom (tt0844286),9,18,51
711,tt0805570,15000000,3533227,The Midnight Meat Train,Bradley Cooper|Vinnie Jones|Brooke Shields|Les...,RyÃ»hei Kitamura,The most terrifying ride you'll ever take,The photographer Leon lives with his girlfrien...,98,Mystery|Drama|Crime|Thriller|Horror,Lions Gate Films|Lakeshore Entertainment|Green...,8/7/2008,5.7,2008,-11466773,The Midnight Meat Train (tt0805570),8,23,175
712,tt0490181,8000000,2033165,Mutant Chronicles,Ron Perlman|Thomas Jane|Devon Aoki|Sean Pertwe...,Simon Hunter,Welcome to the 23rd century. The new dark ages.,It's the year 2707. Earth's natural resources ...,111,Action|Adventure|Horror|Science Fiction,Isle of Man Film|Edward R. Pressman Film|Parad...,8/7/2008,5.1,2008,-5966835,Mutant Chronicles (tt0490181),8,17,67

In [502]:
answers['9'] ='The Dark Knight'#"+"

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [444]:
revenue_12_14=data[(data.release_year>=2012)&
                   (data.release_year<=2014)].sort_values(['profit'], ascending=True)
display(revenue_12_14)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title,release_month,title_length,overview_count
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,The Lone Ranger (tt1210819),7,15,68
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013,-68351500,R.I.P.D. (tt0790736),7,8,35
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,6.1,2012,-51893525,Upside Down (tt1374992),9,11,50
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,6.1,2013,-51337973,Legends of Oz: Dorothy's Return (tt0884726),6,31,68
1235,tt1308729,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,5.2,2013,-45510171,Bullet to the Head (tt1308729),1,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,tt1690953,76000000,970761885,Despicable Me 2,Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...,Pierre Coffin|Chris Renaud,Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,Animation|Comedy|Family,Universal Pictures|Illumination Entertainment,6/25/2013,7.0,2013,894761885,Despicable Me 2 (tt1690953),6,15,16
974,tt1074638,200000000,1108561013,Skyfall,Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...,Sam Mendes,Think on your sins.,When Bond's latest assignment goes gravely wro...,143,Action|Adventure|Thriller,Columbia Pictures,10/25/2012,6.8,2012,908561013,Skyfall (tt1074638),10,7,94
1180,tt1300854,200000000,1215439994,Iron Man 3,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,Shane Black,Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,Action|Adventure|Science Fiction,Marvel Studios,4/18/2013,6.9,2013,1015439994,Iron Man 3 (tt1300854),4,10,22
1177,tt2294629,150000000,1274219009,Frozen,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Chris Buck|Jennifer Lee,Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,Animation|Adventure|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/27/2013,7.5,2013,1124219009,Frozen (tt2294629),11,6,66
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910,The Avengers (tt0848228),4,12,52

In [503]:
answers['10'] ='The Lone Ranger'#"+"

# 11. Какого жанра фильмов больше всего?

In [487]:
genres_most= data.genres.str.split('|')
import collections
c = collections.Counter()
for word in genres_most.sum():
     c[word] += 1
c.most_common()

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 222),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 19),
 ('Documentary', 8),
 ('Foreign', 2)]

In [504]:
answers['11'] ='Drama'#"+"

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [489]:
profit_most= data[(data.profit>0)].genres.str.split('|')
import collections
c = collections.Counter()
for word in profit_most.sum():
     c[word] += 1
c.most_common()

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337),
 ('Romance', 242),
 ('Crime', 231),
 ('Family', 226),
 ('Science Fiction', 195),
 ('Fantasy', 188),
 ('Horror', 150),
 ('Animation', 120),
 ('Mystery', 119),
 ('Music', 47),
 ('History', 46),
 ('War', 41),
 ('Western', 12),
 ('Documentary', 7)]

In [505]:
answers['12'] ='Drama'#"+"

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [400]:
director_revenue = pd.concat([data['revenue'], data['director'].str.split('|')], axis=1).explode('director')
director_revenue.groupby('director', sort=False)['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [506]:
answers['13'] ='Peter Jackson'#"+"

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [401]:
data[data['genres'].str.contains('action', case=False)]['director'].str.split('|').explode().value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Kurt Wimmer           1
Lexi Alexander        1
BjÃ¶rn Stein          1
Jay Russell           1
James Mather          1
Name: director, Length: 364, dtype: int64

In [507]:
answers['14'] ='Robert Rodriguez'#"+"

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [423]:
cast_revenue = data[data['release_year'] == 2012]
cast_revenue = pd.concat([movies['revenue'], movies['cast'].str.split('|')], axis=1).explode('cast')
cast_revenue.groupby('cast', sort=False)['revenue'].sum().sort_values(ascending=False)

cast
Chris Hemsworth       2027450773
Denis Leary           1629460639
Anne Hathaway         1522851057
Scarlett Johansson    1519557910
Robert Downey Jr.     1519557910
                         ...
Michael Nyqvist          3428048
Danny Huston             2106557
Sami Gayle               2106557
Josh Lucas               2106557
Nicolas Cage             2106557
Name: revenue, Length: 466, dtype: int64

In [508]:
answers['15'] ='Chris Hemsworth'#"+"

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [407]:
cast_budget = data[data['budget'] > data['budget'].mean()]
cast_budget['cast'].str.split('|').explode().value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Rowan Atkinson        1
Don Knotts            1
Steven Berkoff        1
Claudia Christian     1
Om Puri               1
Name: cast, Length: 1505, dtype: int64

In [509]:
answers['16'] ='Matt Damon' #"+"

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [408]:
cast_genres = pd.concat([data['release_year'], 
                         data['genres'].str.split('|'), 
                         data['cast'].str.split('|')], 
                         axis=1).explode('genres').explode('cast')
cast_genres = cast_genres.groupby(['cast', 'genres'], sort=True)
cast_genres.count().loc['Nicolas Cage']['release_year'].sort_values(ascending=False)

genres
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
Name: release_year, dtype: int64

In [510]:
answers['17'] ='Action'#"+"

# 18. Самый убыточный фильм от Paramount Pictures

In [411]:
paramount_profit = data[data['production_companies'].str.contains('Paramount Pictures', case=False)]
paramount_profit[paramount_profit['profit'] == paramount_profit['profit'].min()]['title'].str.cat(sep=',')

'K-19: The Widowmaker (tt0267626)'

In [511]:
answers['18'] ='K-19: The Widowmaker (tt0267626)'#"+"

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [412]:
data.groupby('release_year', sort=False)['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [512]:
answers['19'] ='2015'#"+"

# 20. Какой самый прибыльный год для студии Warner Bros?

In [413]:
warner_profit = data[data['production_companies'].str.contains('Warner Bros', case=False)]
warner_profit.groupby('release_year', sort=False)['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [513]:
answers['20'] ='2014'#"+"

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [414]:
month_most = data.groupby('release_month')['release_date'].count().sort_values(ascending=False).index[0]
month_name[month_most]

'Сентябрь'

In [514]:
answers['21'] ='Сентябрь'#"+"

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [415]:
data[data['release_month'].between(6, 8)].count()

imdb_id                 450
budget                  450
revenue                 450
original_title          450
cast                    450
director                450
tagline                 450
overview                450
runtime                 450
genres                  450
production_companies    450
release_date            450
vote_average            450
release_year            450
profit                  450
title                   450
release_month           450
title_length            450
overview_count          450
dtype: int64

In [515]:
answers['22'] ='450'#"+"

# 23. Для какого режиссера зима – самое продуктивное время года?

In [416]:
data[(data['release_month'] == 12) | 
     (data['release_month'] <= 2)]['director'].str.split('|').explode().value_counts()

Peter Jackson            7
Clint Eastwood           6
Steven Soderbergh        6
Nancy Meyers             4
Shawn Levy               4
                        ..
Eric Brevig              1
Frederik Du Chau         1
Kevin Rodney Sullivan    1
Nick Hurran              1
Rodrigo GarcÃ­a          1
Name: director, Length: 358, dtype: int64

In [516]:
answers['23'] ='Peter Jackson'#"+"

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [417]:
companies_title = pd.concat([data['title_length'], data['production_companies'].str.split('|')], axis=1).explode('production_companies')
companies_grouped = companies_title.groupby(by='production_companies')['title_length']
(companies_grouped.sum() / companies_grouped.count()).sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_length, Length: 1771, dtype: float64

In [517]:
answers['24'] ='Four By Two Productions'#"+"

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [418]:
companies_overview = pd.concat([data['overview_count'], 
                                data['production_companies'].str.split('|')], 
                                axis=1).explode('production_companies')
overview_grouped = companies_overview.groupby(by='production_companies')['overview_count']
(overview_grouped.sum() / overview_grouped.count()).sort_values(ascending=False)

production_companies
Midnight Picture Show                             175.0
Room 9 Entertainment                              163.0
Heineken Branded Entertainment                    160.0
98 MPH Productions                                159.0
Brookwell-McNamara Entertainment                  158.0
                                                  ...
London Boulevard                                   13.0
Sony Pictures Worldwide Acquisitions (SPWA)        13.0
TDJ Enterprises / New Dimensions Entertainment     13.0
Empire Pictures                                    11.0
Motion Picture Corporation of America              11.0
Name: overview_count, Length: 1771, dtype: float64

In [518]:
answers['25'] ='Midnight Picture Show'#"+"

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [419]:
data[data['vote_average'] > data['vote_average'].quantile(0.99)]['original_title'].str.cat(sep=',')

'Inside Out,Room,Interstellar,Guardians of the Galaxy,The Imitation Game,Gone Girl,The Grand Budapest Hotel,Inception,The Dark Knight,The Pianist,The Lord of the Rings: The Return of the King,The Wolf of Wall Street,12 Years a Slave,Memento'

In [519]:
answers['26'] ='Inside Out, The Dark Knight, 12 Years a Slave'#"+"

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [420]:
actors_counter = {}
for actors in data['cast'].str.split('|'):
    actors_amount = len(actors)
    for actor_index_1 in range(actors_amount):

        actor_1 = actors[actor_index_1]
        for actor_index_2 in range(actor_index_1 + 1, actors_amount):
            actor_2 = actors[actor_index_2]

            if actor_2 > actor_1:
                pair = (actor_1, actor_2)
            else:
                pair = (actor_2, actor_1)

            if pair in actors_counter:
                actors_counter[pair] += 1
            else:
                actors_counter[pair] = 1

max_count = 0
max_pairs = []
for pair, count in actors_counter.items():
    if count >= max_count:
        if count > max_count:
            max_count = count
            max_pairs.clear()
        max_pairs.append(' and '.join(pair))
', '.join(max_pairs)

'Daniel Radcliffe and Rupert Grint, Daniel Radcliffe and Emma Watson, Emma Watson and Rupert Grint'

In [520]:
answers['27'] ='Daniel Radcliffe and Rupert Grint'#"+"

# Submission

In [521]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe and Rupert Grint'}

In [522]:
len(answers)

27